spring:
  application:
    name: t-springboot-java
  profiles:
    active: local
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  data:
    redis:
      host: localhost
      port: 6379
      password: myredispassword
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 2
          max-wait: -1ms
  cache:
    type: redis
    redis:
      time-to-live: 600000 # 10min (ms)
      cache-null-values: false # null 값 캐싱 여부

server:
  port: 8080

logging:
  config: classpath:logging/logback-spring.xml
  level:
    root: info
    sun.rmi: info
    javax.management: info

management:
  endpoints:
    web:
      exposure:
        include: health, info  # 모든 엔드포인트 노출 = *
  endpoint:
    health:
      show-details: when_authorized  # health 상세 정보 표시 여부

springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    display-request-duration: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json